{% load static %}
<!DOCTYPE html>

<html lang="en">

{% include 'head.html' %}

<body>

    {% include 'register_header.html' %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
<h2 style="text-align: center;">Destination Form</h2>
<div class="container mt-2">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create Package</button>
</form>
</div>
    {% include 'footer.html' %}
</body>
{% include 'scripts.html' %}

</html>